<head>
    <title><%= @comment.content %> | Hacker News</title>
</head>

<body>
<center>
    <table bgcolor="#f6f6ef" border="0" cellpadding="0" cellspacing="0" width="85%">
        <tbody>
        <tr style="height:10px"></tr>
        <tr>
          <td>
            <div style="color:grey;margin-left:10px;">

                <%if current_user != nil && current_user.id == @comment.user.id%>
                <a style="color:green;margin-left:0px;" class="commentTitle" href="/users/<%= @comment.user.id %>"> <%= @comment.user.name %></a>
                <%else%>
                <a class="commentTitle" href="/users/<%= @comment.user.id %>"> <%= @comment.user.name %></a>
                <%end%>

                <% time = (Time.now() - @comment.created_at) %>

                <% if time < 60 %>
                <% showTime = time.round %>
                <% timeType = "seconds" %>
                <% end %>

                <% if time >= 60 && time < 120 %>
                <% showTime = (time/60).round %>
                <% timeType = "minute" %>
                <% end %>

                <% if time >= 120 && time < 3600 %>
                <% showTime = (time/60).round %>
                <% timeType = "minutes" %>
                <% end %>

                <% if time >= 3600 && time < 3600*2 %>
                <% showTime = (time/3600).round %>
                <% timeType = "hour" %>
                <% end %>

                <% if time >= 3600 && time < 3600*24 %>
                <% showTime = (time/3600).round %>
                <% timeType = "hours" %>
                <% end %>

                <% if time >= 3600*24 && time < 3600*24*2 %>
                <% showTime = (time/(3600*24)).round %>
                <% timeType = "day" %>
                <% end %>

                <% if time >= 3600*24 %>
                <% showTime = (time/(3600*24)).round %>
                <% timeType = "days" %>
                <% end %>

                <a class="commentTitle" href="/comments/<%= @comment.id %>"><%= showTime %> <%= timeType %> ago</a>

            </div>

            <div style="margin-top:10px;margin-left:20px;">
                <table style="margin-left:0px; margin-bottom: 20px;">
                    <tr>
                        <td style="color:black;"> <%= @comment.content %></td>
                    </tr>
                </table>


                    <form action="/replies" method="POST" id="reply_content_form">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <% if current_user %>
                            <input type="hidden" name="reply[user_id]" value=<%= current_user.id %>>
                        <% else %>
                            <input type="hidden" name="reply[user_id]" value=<%= %>>
                        <% end %>
                        <input type="hidden" name="reply[comment_id]" value=<%=@comment.id %>>
                        <textarea name="reply[content]" value="" form="reply_content_form" style="min-width:500px;min-height:100px"></textarea>
                        <br>
                        <input type="submit" value="reply">
                    </form>
            </div>

            <br>

            <p style="margin-left:20px; color:red;" id="notice"><%= notice %></p>
            <br>

            <% @replies.each do |reply| %>
            <table>
                <tr>
                    <td>

                        <%if current_user != nil && current_user.id == reply.user.id%>
                        <span style="margin-left:20px;color:orange;">*&nbsp</span><a style="color:green;margin-left:0px;" class="reply commentTitle" href="/users/<%= @comment %>"> <%= @comment.user.name %></a>
                        <%else%>
                        <a class="reply commentTitle" href="/users/<%= reply.user.id %>"> <%= reply.user.name %></a>
                        <%end%>

                        <% time = (Time.now() - reply.created_at) %>

                        <% if time < 60 %>
                        <% showTime = time.round %>
                        <% timeType = "seconds" %>
                        <% end %>

                        <% if time >= 60 && time < 120 %>
                        <% showTime = (time/60).round %>
                        <% timeType = "minute" %>
                        <% end %>

                        <% if time >= 120 && time < 3600 %>
                        <% showTime = (time/60).round %>
                        <% timeType = "minutes" %>
                        <% end %>

                        <% if time >= 3600 && time < 3600*2 %>
                        <% showTime = (time/3600).round %>
                        <% timeType = "hour" %>
                        <% end %>

                        <% if time >= 3600 && time < 3600*24 %>
                        <% showTime = (time/3600).round %>
                        <% timeType = "hours" %>
                        <% end %>

                        <% if time >= 3600*24 && time < 3600*24*2 %>
                        <% showTime = (time/(3600*24)).round %>
                        <% timeType = "day" %>
                        <% end %>

                        <% if time >= 3600*24 %>
                        <% showTime = (time/(3600*24)).round %>
                        <% timeType = "days" %>
                        <% end %>

                        <a class="commentTitle" href="/comments/<%= reply.comment.id %>"><%= showTime %> <%= timeType %> ago</a>
                    </td>
                </tr>
            </table>
            <table class="reply">
                <tr>
                    <td style="color:black; font-size:13px;"> <%= reply.content %></td>
                </tr>
            </table>
            <br>
            <%end%>
          </td>
        </tr>
    </table>
  </center>
</body>
