<table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
  <tr style="height:10px"></tr>
    <td>
        <% @commentsandreplies.each do |comment| %>
        <% if comment.user_id == @user.id%>
        <table>
            <tbody>
            <tr>
                <td class="spacer" style="width:2px"></td>
                <td valign="top" class="votelinks">
                  <center>
                    <td>
                        <font color="grey" size="3">*</font>
                    </td>
                  </center>
                </td>
                <td class="spacer" style="width:5px"></td>
                <td class="text">
                    <font color="grey">

                        <%if current_user != nil && current_user.id == @user.id%>
                        <a style="color:green;margin-left:0px;" class="commentTitle" href="/users/<%= @user.id %>"> <%= @user.name %></a>
                        <%else%>
                        <a class="commentTitle" href="/users/<%= @user.id %>"> <%= @user.name %></a>
                        <%end%>

                        <% time = (Time.now() - comment.created_at) %>

                        <% if time < 60 %>
                            <% showTime = time.round %>
                            <% timeType = "seconds" %>
                        <% end %>

                        <% if time >= 60 && time < 120 %>
                            <% showTime = (time/60).round %>
                            <% timeType = "minute" %>
                        <% end %>

                        <% if time >= 120 && time < 3600 %>
                            <% showTime = (time/60).round %>
                            <% timeType = "minutes" %>
                        <% end %>

                        <% if time >= 3600 && time < 3600*2 %>
                            <% showTime = (time/3600).round %>
                            <% timeType = "hour" %>
                        <% end %>

                        <% if time >= 3600 && time < 3600*24 %>
                            <% showTime = (time/3600).round %>
                            <% timeType = "hours" %>
                        <% end %>

                        <% if time >= 3600*24 && time < 3600*24*2 %>
                            <% showTime = (time/(3600*24)).round %>
                            <% timeType = "day" %>
                        <% end %>

                        <% if time >= 3600*24 %>
                            <% showTime = (time/(3600*24)).round %>
                            <% timeType = "days" %>
                        <% end %>

                        <span class="age"><a href="#"><%= showTime%> <%= timeType%> ago</a> </span>

                        <% if comment.kind_of? Comment %>
                            on  <a style="text-decoration:none;" href="/<%= comment.contribution_id %>"> <%= comment.contribution.title %></a>
                          <% end %>
                          <% if comment.kind_of? Reply %>
                              | <a style="text-decoration:none;" href="/comments/<%= comment.comment_id %>">parent</a> |
                              on <a style="text-decoration:none;" href="/<%= comment.comment.contribution_id %>"> <%= comment.comment.contribution.title %> </a>
                          <% end %>
                    </font>
                </td>
            </tr>

        </table>
        <table>
            <tr>
                <td class="spacer" style="width:21px"></td>
                <td>
                    <font color="black">
                        <%= comment.content%>
                    </font>
                </td>
            </tr>
            <tr class="spacer" style="height:8px"></tr>
            <% end %>
            <% end %>
            </tbody>
        </table>
    </td>
</table>
