<table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
  <tr style="height:10px"></tr>
  <tr>
    <td>
      <table>
        <tbody>
          <div style="margin-left:20px">
            <p>
              <strong>Name:</strong>
              <%= @user.name %>
            </p>

            <p>
              <strong>Created:</strong>
              <% time = (Time.now() - @user.created_at) %>

              <% if time < 60 %>
                  <% showTime = time.round %>
                  <% timeType = "seconds" %>
              <% end %>

              <% if time >= 60 && time < 120 %>
                  <% showTime = (time/60).round %>
                  <% timeType = "minute" %>
              <% end %>

              <% if time >= 120 && time < 3600 %>
                  <% showTime = (time/60).round %>
                  <% timeType = "minutes" %>
              <% end %>

              <% if time >= 3600 && time < 3600*2 %>
                  <% showTime = (time/3600).round %>
                  <% timeType = "hour" %>
              <% end %>

              <% if time >= 3600 && time < 3600*24 %>
                  <% showTime = (time/3600).round %>
                  <% timeType = "hours" %>
              <% end %>

              <% if time >= 3600*24 && time < 3600*24*2 %>
                  <% showTime = (time/(3600*24)).round %>
                  <% timeType = "day" %>
              <% end %>

              <% if time >= 3600*24 %>
                  <% showTime = (time/(3600*24)).round %>
                  <% timeType = "days" %>
              <% end %>

              <span class="age"><a href="/users/<%= @user.id %>"><%= showTime%> <%= timeType%> ago</a></span>
            </p>

            <% if current_user && current_user.id == @user.id %>

              <p>
                <strong>Email:</strong>
                <%= @user.email %>
              </p>

              <p>
                <strong>Personal Api Key:</strong>
                <%= @user.oauth_token %>
              </p>

            <% end %>

            <%= render 'form' %>
          </div>
          </tbody>
        </table>
      <tr class="spacer" style="height:20px"></tr>
    </td>
  </tr>
</table>
