<tr>
  <td>
    <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
      <% index = 1 %>
      <% @contributions.each do |contribution| %>
        <tr class='athing' id='<%= contribution.id %>'>
          <td align="right" valign="top" class="title"><span class="rank"><%= index %></span></td>
          <td valign="top" class="votelinks">
            <center>
                <a id='up_<%= contribution.id %>' href='contributions/<%= contribution.id %>/vote' class="<%= (current_user != nil && current_user.voted_up_on?(contribution)) ? 'nosee' : nil %>">
                  <div class='votearrow' title='upvote'></div>
                </a>
            </center>
          </td>
          <td class="title">
            <% unless contribution.url == '' %>
              <a href="<%= contribution.url %>" class="storylink" target="_blank"><%= contribution.title %></a>
              <!-- TODO: Implement filter by site and show only domain name -->
              <span class="sitebit comhead"> (<a href="<%= contribution.url %>"><span class="sitestr"><%= contribution.url %></span></a>)</span></td>
            <% else %>
              <a href="/<%= contribution.id %>" class="storylink"><%= contribution.title %></a></td>
            <% end %>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td class="subtext">
            <span class="score" id="score_<%= contribution.id %>"> <%= contribution.get_upvotes.size %> points</span> by


            <%if current_user != nil && current_user.id == contribution.user.id%>
            <a style="color:green;margin-left:0px;" class="commentTitle" href="/users/<%= contribution.user.id %>"> <%= contribution.user.name %></a>
            <%else%>
            <a class="commentTitle" href="/users/<%= contribution.user.id %>"> <%= contribution.user.name %></a>
            <%end%>

            <% time = (Time.now() - contribution.created_at) %>

            <% if time < 60 %>
                <% showTime = time.round %>
                <% timeType = "seconds" %>
            <% end %>

            <% if time >= 60 && time < 120 %>
                <% showTime = (time/60).round %>
                <% timeType = "minute" %>
            <% end %>

            <% if time >= 120 && time < 3600 %>
                <% showTime = (time/60).round %>
                <% timeType = "minutes" %>
            <% end %>

            <% if time >= 3600 && time < 3600*2 %>
                <% showTime = (time/3600).round %>
                <% timeType = "hour" %>
            <% end %>

            <% if time >= 3600 && time < 3600*24 %>
                <% showTime = (time/3600).round %>
                <% timeType = "hours" %>
            <% end %>

            <% if time >= 3600*24 && time < 3600*24*2 %>
                <% showTime = (time/(3600*24)).round %>
                <% timeType = "day" %>
            <% end %>

            <% if time >= 3600*24 %>
                <% showTime = (time/(3600*24)).round %>
                <% timeType = "days" %>
            <% end %>

            <span class="age"><a href="<%= contribution.id %>"><%= showTime%> <%= timeType%> ago</a></span>

            <% comments = contribution.comments.count%>
            <% show = "comment" %>
            <% if comments != 1 %>
                <% show = "comments" %>
            <% end %>

            <span id="unv_<%= contribution.id %>"></span> | <a href="<%= contribution.id %>"><%= comments %> <%= show %></a>
            <% if current_user && current_user.voted_up_on?(contribution) %>
              | <a id="unvote" href= 'contributions/<%= contribution.id %>/unvote'>  unvote</a>
            <%end%>
          </td>
        </tr>
        <tr class="spacer" style="height:5px"></tr>
        <% index += 1 %>
      <% end %>

    </table>
  </td>
</tr>
<tr>
  <td>
    <img src="s.gif" height="10" width="0">
    <table width="100%" cellspacing="0" cellpadding="1">
      <tr>
        <td bgcolor="#ff6600"></td>
      </tr>
    </table>
    <br>
    <!--<center>-->
      <!--<span class="yclinks">-->
        <!--<a href="newsguidelines.html">Guidelines</a>-->
        <!--| <a href="newsfaq.html">FAQ</a>-->
        <!--| <a href="mailto:hn@ycombinator.com">Support</a>-->
        <!--| <a href="https://github.com/HackerNews/API">API</a>-->
        <!--| <a href="security.html">Security</a>-->
        <!--| <a href="lists">Lists</a>-->
        <!--| <a href="bookmarklet.html" rel="nofollow">Bookmarklet</a>-->
        <!--| <a href="http://www.ycombinator.com/legal/">Legal</a>-->
        <!--| <a href="http://www.ycombinator.com/apply/">Apply to YC</a>-->
        <!--| <a href="mailto:hn@ycombinator.com">Contact</a>-->
      <!--</span>-->
      <!--<br><br>-->
      <!--<form method="get" action="//hn.algolia.com/">-->
        <!--Search:-->
        <!--<input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false">-->
      <!--</form>-->
    <!--</center>-->
  </td>
</tr>
